<launch>
  <!-- specify the planning pipeline -->
  <arg name="pipeline" default="ompl" />

  <!-- Panda specific options -->
  <arg name="load_gripper" default="false" />
  <arg name="transmission" default="effort" />

  <!-- Gazebo specific options -->
  <arg name="gazebo_gui" default="true" />
  <arg name="paused" default="false" />

  <!-- Launch the gazebo simulator and spawn the robot -->
  <include file="$(find gazebo-depth-sim)/launch/gazebo2.launch"/>
  <include file="$(find ur_gazebo)/launch/ur5e_bringup.launch">
    <arg name="gui" value="false"/>
  </include>

  <include file="$(dirname)/moveit_planning_execution.launch" />
  <include file="$(dirname)/moveit_rviz.launch" >
    <arg name="config" value="$(find ur5e_moveit_config)/launch/moveit.rviz"/>
  </include>

</launch>